body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
    margin: 0;
}

.header {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: black;
    float: center;
}

.header-text li {
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
    width: auto;
    height: 100%;

}

footer {
    display: block;
    text-align: right;
    color: gray;
}