body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
    
}

.header-text {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

footer {
    display: block;
    text-align: right;
    color: gray;
}