body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

.header-text {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header-link {
    color: aquamarine;
    font-size: 16px;
}

.second-heading {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

.second-heading-desc {
    font-size: 21px;
    color: gray;
}

footer {
    display: block;
    text-align: right;
    color: gray;
}
